<!DOCTYPE html>
<html>
  <head>
    <title>Pets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <ul>
          <li><a href="/">ホーム</a></li>
      <% if user_signed_in? %>
          <li><%= link_to "#{current_user.email}さんのプロフィール",user_path(current_user) %></li>
          <li><%= link_to "シッターになる",new_listing_path %></li>
          <li><%= link_to "アカウント編集",edit_user_registration_path %></li>
          <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
      <% else %>
          <li><a href="#">利用の流れ</a></li>
          <li><%= link_to "シッターになる",new_listing_path %></li>
          <li><%= link_to "アカウント作成",new_user_registration_path %></li>
          <li><%= link_to "ログイン",new_user_session_path %></li>
      <% end %>
    </ul>
    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
